.footer__link {
    margin: 0;
    font-size: 16px;
    line-height: 1.1;
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1;
        padding-bottom: 32px;
    }

    .footer__link:last-of-type {
        padding-bottom: 0;
    }
}

.footer__link:hover {
    opacity: .8;
}