.main-illustration {
    min-width: 77%;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .main-illustration {
        margin: auto;
        width: 928px;
    }
}

@media screen and (max-width: 928px) {
    .main-illustration {
        margin: auto;
        width: 100%;
    }
}