.place__paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #FFF;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        padding: 0 16px;
    }
}