.intro {
    background-color: #2A2C2F;
    padding: 92px 0 92px 148px;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 0 92px 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 0 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding: 64px 16px 64px 16px;
    }
}