.lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    max-width: 640px;
    padding-bottom: 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 720px){
    .lead__subtitle {
        width: 100%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .lead__subtitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        padding-bottom: 40px;
        font-size: 1.2rem;
        line-height: 1.4;
        max-width: 288px;
    }
}