.cover__background {
    display: flex;
    background-image: url(../../../images/cover__background.png);
    max-width: 1184px;
    width: 100%;
    height: 740px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .cover__background {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        height: 480px;
    }
}

@media screen and (max-width: 450px) {
    .cover__background {
        height: 340px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        height: 200px;
    }
}

.cover__background:hover .cover__overlay {
    opacity: .8;
}