.place {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
}