.place__website {
    padding-bottom: 48px;
    align-self: end;
}

@media screen and (max-width: 425px) {
    .place__website {
        align-self: start;
        padding-left: 16px;
        padding-bottom: 32px;
    }
}